# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac junk
.DS_Store

# Large data/videos (Optional: only if you don't want to upload 1GB of video)
# videos/
# ppo_bipedal_tensorboard/

# Environment
venv/
env/
